// Main
$background: #0e131d;
$lighter-background: #19202c;
$foreground: #e5e7eb;
$darker-foreground: #697a91;
$accent: #3b82f6;

// Ack
$ack-button: #2c394e;
$ack-foreground: #e5e7eb;

// Alerts
$alert-critical: #940d0d;
$alert-high: #a13d3d;
$alert-medium: #d07d18;
$alert-low: #199f19;
$alert-undefined: #3d434e;

// Colors
$white: #ffffff;
$red: #9b3131;

// Table
$table-header: #1f2937;
$table-header-fg: #e5e7eb;
$table-odd-child: rgb(19, 26, 35);